*{
    box-sizing: border-box;
}

/*slider*/
.slider {
    width: 100%;
    height: 400px;
    background-color: aqua;
    transition: 0.7s;
    background-size: 100% 100%;
}

.divisor {
    width: 50px;
    height: 200px;
    float: left;
    padding-top: 200px;
    
    
}

#indexslider {
    width: 50px;
    height: 30px;
    margin-top: 90px;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}


.btnSlider {
    width: 100%;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 24px;
    background-size: cover;
    padding: 0;
    outline: none; 
}



#setaDireita {
     background-image: url(../imagens/setaDireita.png);
}

#setaEsquerda {
    align-self: center;
    background-image: url(../imagens/setaEsquerda.png);
}


.painelCentral {
    width: 1100px;
    height: 100%;
    float: left;
    
}

/*---------------------------------------*/
/*CSS*/
body, ul {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 120px;
    background-color: #0a2b60;
    border-style: inset;
    position: fixed;
    

}

a {
    text-decoration: none;
    color: inherit;
    
}

/*---------LOGO---------*/
#logo {
    width: 15%;
    height: 100%;
    float: left;
    background-image: 
    url(../imagens/logo-ww.png);
    
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

/*retirando a borda azul que fica quando o input é clicado*/
textarea:focus, input:focus{
    outline: none;
    
}


/*-------FIM LOGO---------*/

/*CLASSES E IDS DO MENU*/
#menu {
    width: 60%;
    height: 100%;
    float: left;
    
}



#menu-header {
    list-style: none;
    height: 100%;
   
}

.item {
    width: 16.4%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
    
}


.item:hover {
    background-color: #eaf1fc;
    transition: 0.2s;
    border-bottom: 4px solid #f2641d;
    color: #0a2b60;
   
}
/*--------FIM DO MENU----------------*/


/*-----------------LOGIN-------------*/
#login {
    width: 25%;
    height: 100px;
    float: left;
    padding-top: 20px;
    
    
}

#containerLogin {
    width: 100%;
    height: 100%;
    
}

#containerHeader {
    width: 1300px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    
    
}




.txtLogin {
    width: 40%;
    height: 30px;
    float: left;
    font-family: sans-serif;
    font-size: 27px;
    margin-top: 5px;
    
}

.campo {
    width: 38%;
    height: 40px;
    float: left;
    margin-right: 8px;
}

.login {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 25px;
    margin-top: 3px;
   
    
}

.txtDados {
    width: 450px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 25px;
    margin-top: 3px;
}
#containerBtn {
    width: 18%;
    height: 70px;
    float: left;
    margin-top: -35px;
    
}

#btnLogar {
    width: 70%;
    height: 40px;
    margin-left: 18px;
    margin-top: 26px;
    background-color: #f2641d;
    font-size: 20px;
    border: 1px solid #39dd52;
    border-radius: 6px;
    border-style: none;
    color: #fff;
}
/*fim header*/

/*conteudo geral*/
#containerGeral {
    width: 1200px;
    height: 1600px;
    min-height: 1600px;
    overflow: hidden;
    background-color: #fff;
    margin: auto;
    box-shadow: 1px 1px 10px #000;
    color: #0a2b60;
    font-size: 25px;
    font-family: sans-serif;
}


.divisorLateral{
    height: 220px;
    width: 95px;
    position: fixed;
    margin-left: 1200px;
    margin-top: 300px;
    
}

.containerLinks {
    width: 80%;
    height: 240px;
}

.iconRedeSocial {
    width: 100%;
    height: 80px;
    background-color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 10px #000;
    
}

/*icons das redes sociais*/
#faceIcon {
     background-image: url(../imagens/face.png);
}

#twitterIcon {
     background-image: url(../imagens/twitter_square-512.png);
}

#instaIcon {
     background-image: url(../imagens/insta.png);
}

.containerLoja {
    width: 100%;
    height: 230px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #000;
    text-align: center; 
    line-height: 32px;
    margin-bottom: 50px;
    
    
}

.superior {
    margin-top: 120px;
}


.bookStore {
    width: 300px;
    height: 230px;
    float: left;
    background-color: #000;
}

.bookStore > p {
    margin-right: 15px;
}

#descSobre {
    height: 51%;
    width: 98.2%;
    padding-top: 2%;
    line-height: 27px;
    font-family: sans-serif;
    font-size: 23px;
    text-align: justify;
    padding-right: 0.9%;
    padding-left: 0.9%;
    
}
#imgLivraria {
    width: 100%;
    height: 500px;
}

#imgSobre {
    width: inherit;
    height: inherit;
}

#containerForm {
    width: 625px;
    height: 1200px;
    color: #0a2b60;
    margin-bottom: 86px;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #000; */
    box-shadow: 1px 1px 7px #000;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 25px;

}

#txtObg {
    font-size: 15px;
}

textarea {
    resize: none;
    width: 96%;
    height: 102px;
    border-radius: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 25px;
    margin-top: 3px;

}
legend {
    color: #f2641d;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#containerContent {
    height: 1020px;
    width: 100%;
    background-color: #fff;
}

#containerMain {
    min-height: 1420px;
    overflow: hidden;
    height: auto;
    width: 100%;
    padding-top: 140px;
    
   
}

#containerMainMenor {
    height: 1300px;
    width: 100%;
    
   
}

.shortxt {
    width: 40%;
}
#fichaAutor {
    height: 100%;
    width: 100%;
    
    
}

#containerImgsAutor {
    width: 100%;
    height: 45%;
  
    
}

#imgBook2 {
    width: 60%;
    height: 40%;
    background-image: url(../imagens/800-animal-farm-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left; 
    
}

#imgBook1 {
    width: 60%;
    height: 60%;
    background-image: url(../imagens/1984quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
   
}

#imgPrincipalAutor {
    width: 40%;
    height: 100%;
    background-image: url(../imagens/orwell0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}

#containerDescAutor {
    width: 100%;
    height: 53%;
    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

#containerLivroMes {
    width: 100%;
    height: 980px;
    text-align: justify;
    line-height: 35px;
    margin-top: 120px;
    
    
}

#containerLivroMes > p {
    margin: 10px;
    padding-left: 10px;
    
}

#btnSubmit {
    border: none;
    border-radius: 14px;
    background-color: #f2641d;
    color: #fff;
    font-size: 19px;
    width: 130px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgLivroMes {
    width: 400px;
    height: 550px;
    float: left;
    margin-right: 10px;
}


.tituloLaranja {
    width: 100%;
    height: 60px;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 40px;
    background-color: #f2641d;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
   
}

#containerLivroMes > .tituloLaranja {
    width: 780px;
    float: left;
    margin-bottom: 8px;

}

.containerLoja > .tituloLaranja {
    width: 900px;
    float: left;
    height: 45px;
    font-size: 33px;
    margin-bottom: 8px;
    
}

.containerLoja > p {
    margin-right: -12px;
}

#bioAutor {
    width: 98.2%;
    height: 86%;
    padding-top: 2%;
    line-height: 27px;
    font-family: sans-serif;
    font-size: 23px;
    text-align: justify;
    padding-right: 0.9%;
    padding-left: 0.9%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #fff;
    color: #0a2b60;
    
}

p {
   text-indent: 60px; 
   margin-left: 15px;
   margin-right: 15px;
}
#painelRolagem {
    height: 100%;
    width: 22%;
    background-color: #fff;
    float: left;
}

.itemRolagem {
    width: 260px;
    height: 35px;
    color: #fff;
    font-family: sans-serif;
    background-color: #f2641d;
    font-size: 19px;
    border-top: 2px solid #fff;
    text-align: center;
    padding-top: 7px;
   
    
}
.list_dd {
    width: 260px;
    height: auto;
    z-index: 10;
    position: absolute;

}

.first_letter_up {
    text-transform: capitalize;
}

.itemdd{
    width: 260px;
    height: 0px;
    color: transparent;
    font-family: sans-serif;
    font-size: 19px;
    text-align: center;
    padding-top: 7px;
    margin-left: 220px;
    margin-top: -12px;
    margin-bottom: 8px;
}


/*hover do dropdown*/
.itemRolagem:hover > ul > .itemdd {
    height: 35px;
    color: #fff;
    background-color: #f2641d;
    border: 2px solid #fff;
    transition: 0.2s;
}




.containerLivraria {
    height: 470px;
    width: 930px;
    float: left;
    z-index: 0;
    position: relative;

}

.promos {
    width: 100%;
    padding-left: 160px;
    
}

.precoVelho {
    text-decoration: line-through;
    color: #000;
    font-size: 13px;
}

.containerLivro {
    width: 278px;
    height: auto;
    overflow: hidden;
    min-height: 500px;
    float: left;
    margin-right: 15px;
    font-size: 17px;
    border:2px solid #dbdbdb;
    color: #0e6682;
    padding: 6px;
    /*val1: esquerda val2: pra baixo val3: desfoque da cor val4: cor*/
    /*box-shadow: 1px 1px 40px #000;*/
    background-color: #fff;
    position: relative;

   
}



.containerLivroFoto {
    width: 100%;
    height: 47%;
    
}

.imgLivro {
    width: 149px;
    height: 190px;
    margin-top: 5px;
    /*centralizando uma imagem*/
    display: block;
    margin-right: auto;
    margin-left: auto;
}




.containerLivroDados {
    height: 53%;
    width: 100%;
    text-align: left;
    line-height: 17px;
    font-size: 0.9em;
    font-family: sans-serif;
    padding-left: 5px;
    

    
}

.tituloLivro {
    width: 100%;
    height: 15%;
    font-size: 17px;
}

.descLivro{
    width: 100%;
    height: 61%;
    font-size: 17px;
    text-align: initial;
    
}

.textTitulo {
    font-weight: 650;
    color: #f2641d;
}


.preco {
    width: 100%;
    height: 9%;
    margin-top: 10px;
    font-size: 17px;
}

.containerDetalhes {
    width: 100%;
    height: 14%;
   
}

.divisorDetalhes {
    width: 50%;
    height: 100%;
    float: left;
}

.detalhes {
    width: 50%;
    height: 100%;
    float: left;
    font-weight: 700;
    color: #0a2b60;
    font-size: 17px;
}
.caracteristicas {
    height: 140px;
    width: 98%;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.plusIcon {
    height: 19px;
    width: 19px;
}



/*fim conteúdo*/

/*rodapé*/
footer {
    height: 180px;
    width: 100%;
    background-color: #0a2b60;
    
}
/*fim rodape*/