*{
    box-sizing: border-box;
}

#containerCMS {
    width: 1600px;
    min-height: 935px;
    height: 930px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: 1px 1px 10px #000;
    height: auto;
    overflow: hidden;
    
}



/*CMS ESTILIZAÇÃO*/
#headerCMS {
    width: 1600px;
    height: 222px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0a2b60;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    color: #fff;
    font-size: 38px;
    font-family: sans-serif;
   
    
}

#smallHeader {
    width: inherit;
    height: 110px;
    background-color: #0a2b60;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}

#smallHeaderSmall {
    width: 600px;
    height: 110px;
    background-color: #0a2b60;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}

.smallHeaderUser {
    width: 100%;
    height: 110px;
    background-color: #0a2b60;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}



#containerHeaderCMS {
    width: 1600px;
    height: 150px;
    
}

#containerHeaderCMS > #tituloCMS {
   padding-top: 45px; 
}

#containerHeaderCMS > #tituloCMSFooter {
   padding-top: 45px; 
}

#containerMenuCMS {
    width: 1000px;
    height: 100%;
    float: left;
}

#containerBemVindo {
    width: 600px;
    height: 90px;
    float: left;
    font-size: 24px;
    padding-top: 50px;
}

#logout {
    color: #0a2b60;
    font-size: 17px;
    margin-left:  235px;
}



.itemcms {
    margin-right: 20px;
    width: 200px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 40px;
    
}

.itemcms > figure > figcaption {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.itemcms:hover {
    background-color: #eaf1fc;
    transition: 0.2s;
    
}

.itemcms:hover  > .linkmenu {
    color: #0a2b60;
    
}




.imgItens {
    width: 79px;
    height: 76px;
    margin-top: -42px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



#logoCMS {
    display: block;
    width: 204px;
    height: 100%;
    color: #f2641d;
    float: right;
    align-self: auto;
}

.fecharModal {
    float: right;
    margin-right: 70px;
}

.fecharModalUser {
    float: right;
    margin-right: 500px;
}

#modalUsuario, #modalSobre {
    width: 1100px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.sltmenor {
    width: 200px;
}

.frmMenor {
    width: 100px;
}
.value {
    width: 90px;
    height: 39px;
    background-color: #fff;
    border-radius: 15px;
    border: 0;
}
.smallColImg {
    width: 150px;
}

#formPromo {
    overflow: hidden;
}  

.formMaior {
    height: 650px;
}

.frmConteudo {
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    min-height: 350px;
    background-color: #d5e5ff;
    border-radius: 20px;
    padding: 15px;
    font-size: 22px;
}
.contImg {
    width: 380px;
    height: 160px;
   border: 1px solid #0a2b60;
}

.txtMenor {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 25px;
    margin-top: 3px;
    outline: none;
}

.contImgAutor {
    width: 170px;
    height: 180px;
    margin-left: 60px;
}
#containerHeaderCMS > figure > figcaption{
  font-size: 15px;
  font-weight: 700;
}
/*retirando a borda azul que fica quando o input é clicado*/
textarea:focus, input:focus{
    outline: none;
    
}



 #tituloCMS {
   display: block;
   margin-left: 25px;
   float: left;
   margin-right:540px;
   
}

 #tituloCMSFooter {
   display: block;
   margin-left: 25px;
   float: right;
  
   
}

#logocms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 120px;
}

#menuCMS {
    width: 1600px;
    height: 90px;
    background-color: #f2641d;
}

#contentCMS {
    width: 100%;
    min-height: 650px;
    text-align: center;
    color: #0a2b60;
    font-size: 27px;
    font-family: sans-serif;
    overflow: hidden;
    height: auto;
}

#containerCentral {
    min-height: 600px;
    text-align: center;
    color: #0a2b60;
    font-size: 27px;
    font-family: sans-serif;
    height: auto;
    overflow: hidden;
    
}

#imgGear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 350px;
    height: 350px;
   
}

/*rodapé do cms*/
footer {
    width: 1600px;
    height: 95px;
    background-color: #0a2b60;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    text-align: center;
   
}

.modalMenor {
    height: 300px;
}

#containerConteudoModal{
    height: 590px;
    width: 100%;
    background-color: #fff;
    padding-top: 120px;
    color: #0a2b60;
    padding-left: 25px;
    font-size: 24px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



.divisorModal {
    width: 50%;
    height: 100%;
    float: left;
    
}


.alignLeft {
    text-align: left;
    line-height: 50px;
}

.formatModal {
    margin: 30px;
}

.spaceBetween {
    margin-bottom: 8px;
}

.btnEnviar {
    width: 100px;
    height: 40px;
    margin-left: 18px;
    margin-top: 26px;
    background-color: #f2641d;
    font-size: 20px;
    border: 1px solid #39dd52;
    border-radius: 6px;
    border-style: none;
    color: #fff;
}

#textFooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 450px;
    padding-top: 30px;
    color: #fff;
    font-family: sans-serif;
    font-size: 24px;
   
}



.linkmenu {
    text-decoration: none;
    color: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

/*colunas do fale conosco*/
.containerColunas {
    width: 1300px;
    height: 45px;
    float: none;
}

.containerColunasAlt {
    width: 1200px;
    height: 45px;
    float: none;
}

.imgLivro {
    width: 170px;
    height: 170px;
}

#tituloCMSFooter {
    display: block;
    margin-left: 25px;
    float: left;
   
}


.coluna {
    height: 100%;
    width: 200px;
    font-size: 18px;
    padding-top: 13px;
    float: left;
    border: 1px solid #000;
    color: #000;
    border-top-color: #fff;
    border-left-color: #fff;
    
}

.colunaComFoto {
    height: 190px;
}



.espacador {
    margin-left: 200px;
}

.espacadorReg {
    margin-left: 20px;
}



.indexNivel {
    margin-left: 120px;
}

.colMaior {
    width: 350px;
 }

.colMaiorText {
    width: 400px;
 }

.colAcao {
   height: 100%;
   float: left;
   border: 1px solid #000;
   color: #000;
   border-top-color: #fff;
   border-left-color: #fff;
    padding-top: 8px;
}

.colEmail {
    width: 250px;
}

.tituloColunas {
    background-color: #0a2b60;
    color: #fff;
    border: 1px solid #fff;
    border-right-color: #fff;
}

.primeiraColuna {
    margin-left: 100px;
}

.imgRegistro {
    width: 280px;
    height: 150px;
}

.indexRegistro{
    height: 100%;
    background-color: #f2641d; 
    color: #fff;
    font-size: 18px;
    padding-top: 13px;
    float: left;
    border: 1px solid #fff;
}

.smallCol{
    width: 80px;
}

.smallColPlus{
    width: 120px;
}

.mediumPlus {
    width: 160px;
}

.acao {
    width: 39px;
    height: 100%;
    float: left;
   
}

/*tela de fundo preta opaca que será o fundo da modal*/
#containerModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: none; 
    position: fixed;
    font-family: sans-serif;
}

#containerModalError {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed;
    font-family: sans-serif;
}

.centerManual{
        margin-left: 200px;
}

.centerManualAlt {
    margin-left: 120px;
}
.center {
    width: 100%;
    padding-right: 500px;
}

#modalError {
    width: 400px;
    height: 280px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 30px;
}

.txtDados {
    width: 450px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 25px;
    margin-top: 3px;
    outline: none;
}

textarea {
    resize: none;
    width: 96%;
    height: 102px;
    border-radius: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 25px;
    margin-top: 3px;

}

.txtareaConteudo{
    height: 200px;
    margin-bottom: 15px;
}

.fontsize {
    font-size: 20px;
}
.img {
    width: inherit;
    height: inherit;
}
/*essa é a pagina branca da modal*/
#viewDados {
    width: 1100px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
}

/*modal para adicionar niveis*/
#addNivel {
    width: 600px;
    height: 220px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#addSobre {
    width: 600px;
    height: 520px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/*comandos para o view do fale conosco*/
fieldset {
    width: 550px;
    height: 555px;
    margin-left: auto;
    margin-right: auto;
}
/*ESTILIZAÇÃO DA TABELA USER E NIVEIS*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #0a2b60;
    border-radius: 0px;
    
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #eaf1fc;
    color: #0a2b60;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #004d80;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#formNivel {
    width: 1000px;
    background-color: #fff;
    margin-left: 2px;
    min-height: 700px;
    overflow: hidden;
    height: auto;
    
}

.areaMenor {
    height: 120px;
}

.smallColPlus {
    width: 225px;
}

#formUser, #formSobre {
    width: 1200px;
    background-color: #fff;
    text-align: center;
   
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: auto;
    
}

.contDica {
   background-color: #d5e5ff;
    width: 500px;
    padding-top: 17px;
    height: 60px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.imgClose {
    margin-right: -1450px;
}
.btnAdd {
    height: 45px;
    /*margin-left: 750px;*/
    background-color: #f2641d;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 120px;
    font-weight: 540;
    
}

.centerManualPlus {
    margin-left: 400px;
}

.centerManualNivel {
    margin-left: 370px;
}

/*código para o switch*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*adaptando o sistema para telas menores*/
@media screen and (max-width:1600px) {
    .fecharModal {
        float: right;
        margin-right: 100px;
    }
    .sltmenor {
        width: 300px;
    }

    .formMaior {
        height: 650px;
    }
    #containerCMS {
        width: 1200px;
        min-height:800px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        box-shadow: 1px 1px 10px #000;
        overflow: hidden;
        height: auto;
    
    }
    #headerCMS {
        width: 1200px;
        height: 222px;
        background-color: #0a2b60;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
       
        color: #fff;
        font-size: 38px;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;

        }
    #containerHeaderCMS {
        width: 1200px;
        height: 150px;
    }
    
     #tituloCMS {
         display: block;
         margin-left: 25px;
         float: left;
         margin-right:240px;

    }
    
    #menuCMS {
        width: 100%;
        height: 90px;
        background-color: #f2641d;
    }
    
    #containerMenuCMS {
        width: 850px;
        height: 100%;
        float: left;
        
    }
    #tituloCMSFooter {
       display: block;
       margin-left: 25px;
       float: left;
       /*margin-right:58%;*/
   
    }

    #containerBemVindo {
        width: 350px;
        height: 90px;
        float: left;
        font-size: 24px;
        padding-top: 40px;
    }

    #logout {
        color: #0a2b60;
        font-size: 17px;
        margin-left:  235px;
    }

   
    .itemcms {
        width: 190px;
        height: 100%;
        float: left;
        text-align: center;
        padding-top: 40px;

    }
    #containerCentral {
        min-height: 640px;
        text-align: center;
        color: #0a2b60;
        font-size: 27px;
        font-family: sans-serif;
        overflow: hidden;
        height: auto;
        
    }

    
    
    #imgGear {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 200px;
        height: 200px;
   
    }
    
    #contentCMS {
        width: 100%;
        min-height: 520px;
        text-align: center;
        color: #0a2b60;
        font-size: 27px;
        font-family: sans-serif;
        overflow: hidden;
        height: auto;
    }
    
    footer {
        width: 100%;
        height: 85px;
        background-color: #0a2b60;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        text-align: center;
   
    }
    
    .centerManual{
        margin-left: 120px;
        margin-right: 120px;
    }
    
}
